.vscode
src/DataStax.AstraDB.DataApi/bin
src/DataStax.AstraDB.DataApi/obj
test/DataStax.AstraDB.DataApi.IntegrationTests/bin
test/DataStax.AstraDB.DataApi.IntegrationTests/obj
test/DataStax.AstraDB.DataAPI.IntegrationTests/appsettings.sample.json
test/DataStax.AstraDB.DataApi.UnitTests/bin
test/DataStax.AstraDB.DataApi.UnitTests/obj
appsettings.json
*.log
_site
api
